---
const { key } = Astro.props;

const headerColor = '#503737';
const textColor = '#333333';
---

<style define:vars={{ headerColor, textColor }}>
  h3 {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--headerColor);
  }
</style>

<div>
  <h3>{key}&nbsp<slot /></h3>
</div>
